@page "/addUser"
@using LibWebApp_L5_v4.Models
@using LibWebApp_L5_v4.Services

@inject ILibServ libby


<h3>AddUserPage</h3>
<br />
User Name:
<input @bind=UserName />
<br />
User Email:
<br />
<input @bind=UserEmail />
<br />
<button @onclick=SubmitUser class="btn btn-danger">Submit User</button>

<hr />

<h3>AddBookPage</h3>
<br />
Book Title:
<input @bind=BookTitle />
<br />
Book Author:
<input @bind=BookAuthor />
<br />
Book ISBN:
<input @bind=BookISBN />
<br />@*

Book AvailableCopies:
<input @bind=BookAvailableCopies />
<br />
*@
<button @onclick=SubmitBook class="btn btn-danger">Submit Book</button>

@*<!--
<input @bind=OptionText2 />
<br />
<input @bind=OptionText3 />
<br />
<input @bind=OptionText4 />
<br />
-->*@

@code {
    string UserName { get; set; }
    string UserEmail { get; set; }

    string BookTitle { get; set; }
    string BookAuthor { get; set; }
    string BookISBN { get; set; }
   @*
   string BookAvailableCopies { get; set; }
   *@ 




    @*
    string OptionText2 { get; set; }
    string OptionText3 { get; set; }
    string OptionText4 { get; set; }
    *@

    public void SubmitUser()
    {

        //int u = userInc();

        List<User> adder = new List<User>
        {
            //make new User
            new User
                {
                    Id = libby.userInc(),
                    Name = UserName,
                    Email = UserEmail
                },
        };


       

        //add to service
        libby.AppendNewUser(adder);


        @*
        //clear input boxes
        QuestionText = String.Empty;
        OptionText1 = String.Empty;
        OptionText2 = String.Empty;
        OptionText3 = String.Empty;
        OptionText4 = String.Empty;
        *@

        //clear input boxes
        UserName = String.Empty;
        UserEmail = String.Empty;


    }

    public void SubmitBook()
    {
        
        List<Book> adder = new List<Book>
            {
                //make new User
                new Book
                    {
                        Id = libby.bookInc(),
                        Title = BookTitle,
                        Author = BookAuthor,
                        ISBN = BookISBN,
                        AvailableCopies = 1 @*BookAvailableCopies*@

                    },
            };

        //add to service
        libby.AppendNewBook(adder);

        //clear input boxes
        UserName = String.Empty;
        UserEmail = String.Empty;
    }


}
