<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LibWebApp_L5_v4</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/addUser" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Add User
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/editUser" Match="NavLinkMatch.All">
                <span class="oi oi-square" aria-hidden="true"></span> Edit User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/editBook" Match="NavLinkMatch.All">
                <span class="oi oi-square" aria-hidden="true"></span> Edit Book
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/borrow" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Borrow Books
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/books" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Book List
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/csvArea" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> CSV Area
            </NavLink>
        </div>


    </nav>
</div>

